.root {
  background-color: var(--primary);
  min-height: 100vh;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 30px;
}

.logo {
  color: var(--milk);
  font-size: 24px;
  font-weight: 700;
}

.headerContainer {
  margin-top: 30px;
}

.header {
  color: var(--white);
  font-weight: 700;
}

.cardsContainer {
  margin-top: 30px;
}

.cardsContainerHeading {
  color: var(--white);
  font-size: 20px;
  font-weight: 700;
}

.cardsFlexbox {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.yellowCard {
  background-color: var(--banana-lighter);
  display: flex;
  flex-direction: column;
  justify-items: space-between;
  padding: 30px;
  border-radius: 24px;
}

.blueCard {
  background-color: var(--blueberry-lighter);
  display: flex;
  flex-direction: column;
  justify-items: space-between;
  padding: 30px;
  border-radius: 24px;
}

.purpleCard {
  background-color: var(--grape-lighter);
  display: flex;
  flex-direction: column;
  justify-items: space-between;
  padding: 30px;
  border-radius: 24px;
}

.cardTextContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  height: 150px;
}

.cardHeading {
  color: var(--black2);
  font-size: 20px;
  font-weight: 700;
}

.cardInfo {
  color: var(--black2);
  font-size: 14px;
}

.cardBtnContainer {
  text-align: center;
}

.cardButton {
  padding: 12px 32px;
  background: var(--btn-primary);
  border: none;
  border-radius: 12px;
  color: white;
  font-size: 16px;
  transition: all 0.3s linear;
}

.cardButton:hover {
  cursor: pointer;
  background: var(--btn-primary-hover);
}

.img1 {
  display: none;
}

.img2 {
  display: none;
}

.img3 {
  display: none;
}

.cardLink {
  color: white;
}

@media (min-width: 992px) {
  .logo {
    font-size: 36px;
  }

  .headerContainer {
    margin-top: 105px;
    position: relative;
  }

  .img1 {
    display: block;
    position: absolute;
    width: calc(100% / 4);
    max-width: 377px;
    transform: translateX(20%) translateY(-20%);
  }

  .img2 {
    display: block;
    position: absolute;
    width: calc(100% / 4);
    max-width: 290px;
    left: 50%;
    transform: translateX(-60%) translateY(20%);
  }

  .img3 {
    display: block;
    position: absolute;
    width: calc(100% / 5);
    max-width: 237px;
    right: 5%;
    transform: translateY(-50%);
  }

  .cardsContainer {
    margin-top: 282px;
  }

  .header {
    font-size: 48px;
    text-align: center;
  }

  .cardsContainerHeading {
    font-size: 32px;
  }

  .cardsFlexbox {
    flex-direction: row;
  }

  .yellowCard {
    width: calc(100% / 3);
  }
  
  .blueCard {
    width: calc(100% / 3);
  }

  .purpleCard {
    width: calc(100% / 3);
  }

  .cardTextContainer {
    height: 180px;
  }

  .cardHeading {
    font-size: 24px;
  }

  .cardInfo {
    font-size: 16px;
  }
}